aiohttp==3.9.4
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
blinker==1.7.0
click==8.1.7
Flask==3.0.3
frozenlist==1.4.1
idna==3.7
py-cord==2.5.0
yarl==1.9.4
firebase-admin
requests
beautifulsoup4
Pillow
feedparser
openai
google-auth
google-auth-oauthlib
google-auth-httplib2
firebase-admin
pdfplumber
nltk
google-generativeai
PyPDF2
steam
steampy
wit
python-a2s
